//- titulo + diapositva__numero es el titulo default de las diapositvas cuando no se le asigna titulo.
//- En lista__diapositivas se guardan todos los id de las diapositivas con el formato: todo minuscula y guiones - en vez de  espacios.
- var titulo = "Diapositivas" 
- var diapositiva__numero = 0 
- var lista__diapositivas = []

//- Mixin usado para incluir en el Header el src a la librerias de Geogebra
//- Además, en parametrosGeogebra se ponen la configuración por defecto de los applet de graficos.
mixin usarGeogebra
	script(src="https://cesarariet.github.io/modulo_geogebra_v2/index.js")



//-Mixin para incluir una imagen y su descripción tanto en alt como en figcaption
mixin imagen(archivo, descripcion)
	figure
		img(src= archivo, alt= descripcion)
		figcaption= descripcion

//- Para arregar una diapositiva usar este mixin ya genera automaticamente el id del contenedor
//- con el titulo de la diapositiva todo en minusculas y con guiones en vez de espacios.
mixin diapositiva(diapositiva__titulo)
	- 
		diapositiva__numero += 1 
		if (titulo.length === 0){
			var diapositiva__titulo = `Diapositiva ${diapositiva__numero}`
		}
		lista__diapositivas.push(diapositiva__titulo)

	section.diapo(id=`${diapositiva__titulo.split(' ').join('-').toLowerCase()}`)
		h2= `${diapositiva__titulo}`
		block 

//- Este mixin agregado al final de la pagina general automaticamente la lista de navegacion a las diapositvas.
mixin navegacion
	nav
		ul
			each id_diapositiva in lista__diapositivas
				li
					a(href= `#${id_diapositiva.split(' ').join('-').toLowerCase()}`)= id_diapositiva


